{% extends 'whitneyapp/base.html' %}
{% load static %}


{% block body %}
    <!-- Hero Slider -->
    <section class="bg-cover bg-fixed shadow-inner" style="background: url({% static 'img/divider-img-2.jpg' %})">
      <div class="dark-overlay py-5">
        <div class="overlay-content index-forward py-5">
          <div class="container text-white text-center py-5 my-5 index-forward">
            <h1 class="text-uppercase text-l">Whitney Avenue Church of Christ</h1>
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <p class="lead">
                A Place Where You Belong</p><a class="btn btn-primary px-4" href="{% url 'whitney:about' %}">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>    

    
    {% comment %} <!-- Scriptures Section-->
    <section id="features">
      <div class="container-fluid p-0">
        <div class="row p-0 text-center align-items-stretch">
          <div class="col-lg-4 col-md-6 p-0">
            <div class="p-5 bg-primary text-white h-100">
              <h5>Hear (Romans 10:14)</h5>
              <p class="mb-0 text-small">But how can they call on him to save them unless they believe in him? And how can they believe in him if they have never heard about him? And how can they hear about him unless someone tells them?</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-0">
            <div class="p-5 bg-primary-shade text-white h-100">
              <h5>Believe (Mark 16:16;John 8:24)</h5>
              <p class="mb-0 text-small">Anyone who believes and is baptized will be saved. But anyone who refuses to believe will be condemned. That is why I said that you will die in your sins; for unless you believe that I am who I claim to be, you will die in your sins.”</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-0">
            <div class="p-5 bg-primary text-white h-100">
              <h5>Repent (Acts 17:30;Acts 2:38)</h5>
              <p class="mb-0 text-small">“God overlooked people’s ignorance about these things in earlier times, but now he commands everyone everywhere to repent of their sins and turn to him.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-0">
            <div class="p-5 bg-primary-shade text-white h-100">
              <h5>Confess (Romans 10:9-10)</h5>
              <p class="mb-0 text-small">If you openly declare that Jesus is Lord and believe in your heart that God raised him from the dead, you will be saved. For it is by believing in your heart that you are made right with God, and it is by openly declaring your faith that you are saved.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-0 order-md-4 order-lg-3">
            <div class="p-5 bg-primary text-white h-100">
              <h5>Baptism (Matthew 28:18-20; Acts 2:38-41)</h5>
              <p class="mb-0 text-small">Jesus came and told his disciples, “I have been given all authority in heaven and on earth. Therefore, go and make disciples of all the nations,baptizing them in the name of the Father and the Son and the Holy Spirit. Teach these new disciples to obey all the commands I have given you. And be sure of this: I am with you always, even to the end of the age.”</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-0 order-md-3 order-lg-4">
            <div class="p-5 bg-primary-shade text-white h-100">
              <h5>Live Faithfully (Revelations 2:10)</h5>
              <p class="mb-0 text-small">Don’t be afraid of what you are about to suffer. The devil will throw some of you into prison to test you. You will suffer for ten days. But if you remain faithful even when facing death, I will give you the crown of life. </p>
            </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}

    <!-- Mission Section-->
    <section id="works" class="mt-5 mb-5">
      <div class="container-fluid px-0">
        <div class="row align-items-stretch">
          <div class="col-lg-6 half-page-banner bg-cover" style="background: url({% static 'img/church3.jpeg' %})"></div>
          <div class="col-lg-6 bg-light py-lg-5">
            <div class="h-100 d-flex flex-column p-5 justify-content-center">
              <p class="text-serif text-primary mb-0"></p>
              <h2 class="text-uppercase">Our Mission</h2>
              <p class="text-muted">A place where like minded Christians can worship, fellowship and grow in the knowledge of Jesus Christ our Lord and Savior. We strive to spread the message and love of Christ, while growing in maturity and equiping the saints for the jobs of ministry. The church is a light on a hill bringing the good news to all.</p>
              <ul class="list-check pl-0">
                {% comment %} <li>
                  <p class="mb-0 text-muted mb-2">Eu vim atqui ludus petentium, suas idque est id.</p>
                </li>
                <li>
                  <p class="mb-0 text-muted mb-2">Ne veniam oblique propriae vim, dicant.</p>
                </li>
                <li>
                  <p class="mb-0 text-muted mb-2">Sed everti utroque, vis ea oblique pertinax con.</p>
                </li> {% endcomment %}
              </ul><img class="mb-3" src="{% static 'img/signature.png' %}" alt="..." width="90">
              <h6 class="text-uppercase mb-0">Wilton Carraway Jr</h6>
              <p class="text-serif text-primary text-small mb-0">Pastor</p>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <!-- Next Event Section-->
    {% comment %} <section class="bg-primary-shade text-white py-5 mt-5 mb-5" id="events">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-lg-3 text-lg-right mb-4 mb-lg-0">
            <h2 class="mb-0 text-uppercase">Next Event</h2>
          </div>
          <div class="col-lg-6 text-center mb-4 mb-lg-0">
            <p class="text-serif mb-0">Sunday Service</p>
            <div class="mx-auto d-flex flex-wrap justify-content-center" id="countdown" datetime="2022-01-27T08:30:00+0100"></div>
          </div>
          <div class="col-lg-3 text-lg-right"><a class="btn btn-outline-light px-4" href="{% url 'whitney:events' %}">Learn more</a></div>
        </div>
      </div>
    </section> {% endcomment %}

  <style>
  .bg-purple {
    background:#6a03af;
  }
  .btn1 {
      color: #fff;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      position: relative;
      border-radius: 0 !important;
      border: none;
      transition:all 0.3s ease 0s;
      height:10em;
      width:10em;
  }
  .btn1:hover,
  .btn1.active:hover{
      color: #ffffff;
  }
  .btn1:before{
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      background-color:#2E0014;
      width: 30%;
      height: 4px;
      transition:all 0.3s ease 0s;
  }
  .btn1:after{
      content: "";
      position: absolute;
      bottom: -7px;
      right: 0;
      background-color:#2E0014;
      width: 30%;
      height: 4px;
      transition:all 0.3s ease 0s;
  }
  .btn1:hover:before,
  .btn1:hover:after,
  .btn1.active:before,
  .btn1.active:after{
      width: 100%;
  }

  @media screen and (max-width: 575px){
      .btn1{
          margin-bottom: 50px !important;
      }
  }

  </style>

    <!-- Button Page Section-->
    <section class="text-dark bg-white py-5 mt-5 mb-5 shadow-lg p-3 mb-5 rounded" id="pages">
      <div class="container text-center">
        <div class="row">
          <h1 class="text-uppercase text-serif mb-5" style="color:#6a03af;"><u>media</u></h1>
          <div class="col-sm-6">
          <a href="{% url 'whitney:sermon' %}" class="btn btn-lg btn1 bg-primary-shade">SERMONS</a>
          </div>
            <div class="col-sm-6">
              <a href="#" class="btn btn-lg btn1 bg-primary-shade">TEACHINGS</a>
              </div>
            </div>
        </div>
      </div>
    </section>

       <!-- Donation Section-->
       <section id="donation">
        <div class="container-fluid px-0 mb-5">
          <div class="row align-items-stretch">
            <div class="col-lg-6 bg-light py-lg-5 order-2 order-lg-1">
              <div class="h-100 d-flex flex-column p-5 justify-content-center text-lg-right">
                <div class="w-100">
                  <p class="text-serif text-primary mb-0">Sharing our faith</p>
                  <h2 class="text-uppercase mb-0">Donate now</h2>
                  <div class="row">
                    <div class="col-lg-10 ml-auto">
                      <p class="text-muted my-4">All donations and proceeds go to maintaining the Church and other services.</p>
                    </div>
                  </div>
                  <div class="d-block"><a class="btn btn-primary px-4" href="">Donate now</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 half-page-banner bg-cover bg-center order-1 order-lg-2" style="background: url({% static 'img/donation.jpeg' %})"></div>
          </div>
        </div>
      </section>

    <!--Modal Button Section-->
     <section class="pb-5">       
      <div class="container pb-5 buttonSize mt-5">
        <div class="row align-items-center text-center">
          <div class="col-lg-3 col-sm-6 my-2 my-sm-0">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-light bg-primary" alt="..." style="width:100%" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Men's Empowerment
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Monday - Men's Empowerment </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
           </div> 
           <div class="col-lg-3 col-sm-6 my-2 my-sm-0">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-light bg-primary" alt="..." style="width:100%" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              Women's Fellowship
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Saturday - Women's Fellowship </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Test info
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
         </div> 
          <div class="col-lg-3 col-sm-6 my-2 my-sm-0">
                 <!-- Button trigger modal -->
                 <button type="button" class="btn btn-outline-light bg-primary" style="width:100%" alt="..." width="120" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                    Espanol
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Cristo</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-2 my-sm-0">
             <!-- Button trigger modal -->
             <button type="button" class="btn btn-outline-light bg-primary" style="width:100%"  alt="welcome vistors button" width="120" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                Welcome Visitors
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Welcome </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Every effort is made to allow visitors to feel comfortable. You will not be singled out during the service in any way. You will not be asked to make a "love-offering"; in fact, no collections will be taken at all
                        except during the Sunday morning service when members make their weekly contribution as an act of worship. Visitors are not expected to participate.
                        <br>
                        Our services generally open with a brief welcome from one of our members. The song leader then leads the congregation in two or three songs. An opening prayer is offered, follwed by another song, and then the preacher delivers the sermon fro the bible.
                        All are encouraged to bring their Bilbles and follow along as he leads the study(2 Timothy 2:15). At the end of the sermon, the Lord's invitation is offered (Matthew 11:28-30) for any who want to become Christians or rededicate their lives to God.
                        There is no coercion. <br>
                        During the Sunday morning service, the Lord's Supper also is observed by partaking of unleaved bread and fruit of the vine. (1 Corinthians 11:23-29). The service lasts about an hour and concludes with a song and a final prayer. Visitors may sit sliently through the service, or they may participate.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </section> 

    <section class="bg-white text-white py-5 mb-5 overlay-content" id="pages">
      <!-- Clients Section-->
      <style>
.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:120;
  left:0;
  width:100%;
  height:100%;
  background:blueviolet;
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}
      </style>
        
      <div class="container pb-5">
       
          
 <div class="row align-items-center text-center mb-5">
          <div class="col-lg-4 col-sm-6 img-container">
            <a href="https://ballheadzct.com/">Ball headz</a><br>
            <img src="{% static 'img/ballheads.png' %}" alt="..." width="120">
            <div class="overlay mb-5">
              <span>Ball Headz is dedicated to teaching youth to apply the principals of mindfulness to every aspect of their lives so that they feel empowered to make a positive impact on the community.</span>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 my-2 my-sm-0 img-container">
            <a href="https://sensiblewomen.org/">Sensible Women’s Initiative</a><br>
            <img src="{% static 'img/butterfly.png' %}" alt="..." width="120">
            <div class="overlay">
              <span>Our Mission -We will reach out to and lift up young ladies, utilizing our talents and skills to assist them in their preparation for successful living.</span>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 my-2 my-sm-0 img-container">
            <a href="https://818missions.com/ ">8:18 Missions</a><br>
            <img src="{% static 'img/818.png' %}" alt="..." width="120">
            <div class="overlay">
              <span>We are dedicated to liberating generational poverty through holistic quality care for children and families in the Philippines. We see communities TRANSFORMED, families RECONCILED and lives HEALED emotionally, physically and spiritually.</span>
            </div>
        </div>
        </div> 
      </div>
    </section>
   

        <!-- Service Times -->
        <section>   
          <div class="container py-5">
              <div class="row align-items-stretch">
                <div class="col-lg-6 pr-lg-0">           
                  <div class="mapouter"><div class="gmap_canvas"><iframe width="800" height="475" id="gmap_canvas" src="https://maps.google.com/maps?q=2141%20Whitney%20Avenue,%20North%20Haven,%20CT%2006473&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
                </div>
                <div class="col-lg-6 pl-lg-0 mb-0">
                  <div class="bg-light p-3 h-80 shadow p-3 bg-white rounded">
                    <h4>Service Times</h4>
                    <p class="text-muted"></p>
                    <div class="col-md-12">
                      <!-- <h5 class="mb-4 mt-3"></h5> -->
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Monday - Men's Empowerment</a></h6>
                          <p class="text-muted text-small text-fancy mb-0">5PM - 6PM</p>
                        </li>
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Tuesday - Singing</a></h6>
                          <p class="text-muted text-small text-fancy mb-0">7PM-8PM</p>
                        </li>
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Wednesday - Espanol</a></h6>
                          <p class="text-muted text-small text-fancy mb-0">7:30PM-9PM</p>
                        </li>
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Thursday - Equipping</a></h6>
                          <p class="text-muted text-small text-fancy mb-0">7PM - 8PM</p>
                        </li>
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Friday - Espanol</a></h6>
                          <p class="text-muted text-small text-fancy mb-0">7:30PM-9PM</p>
                        </li>
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Saturday - Ladie's Fellowship</a></h6>
                          <p class="text-muted text-small text-fancy mb-0">11AM-1PM</p>
                        </li>
                        <li class="mb-2">
                          <h6 class="mb-1 text-primary">Sunday</h6>
                          <p class="text-muted text-small text-fancy mb-0">10AM-10:45AM Bible Class</p>
                          <p class="text-muted text-small text-fancy mb-0">11AM Worship</p>
                        </li>
                      </ul>
                    </div>
                    <!-- <ul class="list-unstyled mb-0 text-muted">
                      <li class="mb-2"><a class="reset-anchor" href="tel:+2032487431"> <i class="fas fa-phone text-primary mr-3"></i><span>+203 248 7431</span></a></li>
                      <li class="mb-2"><a class="reset-anchor" href="text.html"> <i class="fas fa-globe-americas text-primary mr-3"></i><span>2141 Whitney Avenue, North Haven, CT 06473</span></a></li>
                      <li class="mb-2"><a class="reset-anchor" href="mailto:church@example.com"> <i class="far fa-envelope text-primary mr-3"></i><span>info@whitneyavenuechurchofchrist.com</span></a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
            </div>
      </section>

  </section>
  {% endblock %}